<div class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
          <div class="item active">
              <img src=<%=image_url('sample_banner_img_1.png')%>>
          </div>
          <div class="item">
              <img src=<%=image_url('sample_banner_img_2.jpg')%>>
          </div>
          <div class="item">
              <img src=<%=image_url('sample_banner_img_3.jpg')%>>
          </div>
          <div class="item">
              <img src=<%=image_url('sample_banner_img_4.jpg')%>>
          </div>
    </div>
</div>

<!-- everything ontop of background should be posted below here -->
<div class="col-md-8 col-md-offset-2">
   <!-- Title -->
   <div class="row">
      <div class="col-lg-12 text-center">
          <h3>Latest Styles</h3>
      </div>
   </div>
   <!-- /.row -->
   <% content_for :head do %>
    <% if products.respond_to?(:total_pages) %>
      <%= rel_next_prev_link_tags products %>
    <% end %>
  <% end %>

  <div data-hook="products_search_results_heading">
    <% if products.empty? %>
      <div data-hook="products_search_results_heading_no_results_found">
        <%= Spree.t(:no_products_found) %>
      </div>
    <% elsif params.key?(:keywords) %>
      <div data-hook="products_search_results_heading_results_found">
        <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
      </div>
    <% end %>
  </div>

  <% if products.any? %>
    <div id="products" class="row" data-hook>
      <% products.each do |product| %>
        <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
        <div id="product_<%= product.id %>" class="col-md-4 col-sm-6 hero-feature col-xs-6 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
          <div class="panel panel-default">
            <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
              <div id="product-item" class="panel-body text-center product-body">
                <%= link_to url, itemprop: "url" do %>
                  <%= small_image(product, itemprop: "image") %><br/>
                  <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
                <% end %>
                <br/>
              </div>
              <div class="panel-footer text-center">
                <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                  <span class="price selling lead" itemprop="price"><%= display_price(product) %></span>
                </span>

                <!-- <div class="add-to-cart">
                  <br />
                  <div class="input-group">
                    <div class="">
                      <%= number_field_tag :quantity, 1, class: 'title form-control', min: 1 %>
                    </div>
                    <br>
                    <span class="input-group-btn">
                      <%= button_tag class: 'btn btn-success', id: 'add-to-cart-button', type: :submit do %>
                        <%= Spree.t(:add_to_cart) %>
                      <% end %>
                    </span>
                  </div>
                </div> -->

              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% reset_cycle("classes") %>
    </div>
  <% end %>

  <div class="col-sm-offset-4">
    <% if products.respond_to?(:total_pages) %>
      <%= paginate products, theme: 'twitter-bootstrap-3' %>
    <% end %>
  </div>
   <!-- /.row -->
</div>
<script> $('.carousel').carousel(); </script>
